.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-gap: 10px;
    height: 600px;
    width: 80%;
    margin: auto;
    font-family: "Helvetica Neue";
}
::selection {
    background-color: #b48828;
}
a:hover {
    background-color: #b48828;
}


.dropbtn {
    background-color: #d4bcd5;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #4a81ce;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #d2c9c9;}


.header {

    background-color: antiquewhite;
    padding: 10px;
    text-align: left;
    grid-column: 1 / 4;
    font-weight: bold;
}

.navi::first-line{
    font-weight: bold;
    font-size: 22px;
    font-family: "Al Nile";

}
.navi {
    background-color: antiquewhite;
    padding: 10px;
    text-align: left;
    grid-row: 2;
    grid-column: 1 / 4;
    text-align: center;
}


.about {

    background-color: antiquewhite;
    padding: 10px;
    grid-column: 1;
    grid-row: 3;
}

.about::first-line {
    font-weight: bold;
}

.text-area {
    background-color: antiquewhite;
    padding: 10px;
    grid-column: 2;
    grid-row: 3;
}

.text-area::first-line {
    font-weight: bold;
    font-style: italic;
}

.picture-area {
    background-color: antiquewhite;
    padding: 10px;
    grid-column: 3;
    grid-row: 3;
}

.footer {
    background-color: antiquewhite;
    padding: 10px;
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 4;
}
